html{
    margin:0;
}

body{
    margin: 0;
    color: white;
    font-family: 'Jua', sans-serif;
    
    background: url(library.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

/* 배경화면 어둡게 설정하기 */
.mask{
    margin: 0;
    padding: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background: #2B2B2B;
    opacity: 0.8;
}


.navibar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.5px;
    border-color: white;
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: white;
}

.navbar_logo{
    font-size: 40px;
    color: #C4DDFF;
}

.navbar_menu{
    margin: 0;
    padding: 0;
    /* background-color: blue; */
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 28px;
    display: flex;
    line-height: 0%;
}

.navbar_menu li ul {
    margin: 15px;
    padding: 5px;
    background-color: grey;
    display: none;
    position: absolute;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    float: left;
}

.navbar_menu li:hover ul{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.navbar_menu li ul:hover{
    background-color: #C4DDFF;
}

.navbar_menu li{
    padding: 8px 30px;
}

.navbar_submenu{
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.navbar_toggleBtn{
    position: absolute;
    right: 40px;
    font-size: 24px;
    color: #C4DDFF;
    display: none;
} 

.navbar_submenu li{
    padding: 5px 6px;
}

@media screen and (max-width: 770px){
    .navibar{
        flex-direction: column;
        padding: 8px 24px;
    }

    .navbar_menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        margin: 20px;
        width: 100%;
        text-align: center;
    }

    .navbar_submenu{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display: block;
    }

    .navbar_menu.active{
        display: flex;
    }

}