html{
    margin:0;
}

a {
    text-decoration: none;
    /* 텍스트 링크 밑줄 없애기 */
}
ul {
    list-style: none;
}

body{
    margin: 0;
    color: black;
    font-family: 'Jua', sans-serif;
    
    /* background: url(library.jpg) no-repeat;
    background-size: cover;
    background-position: center center; */
    width: 100vw;
    /* height: 100vh; */
}

/* 배경화면 어둡게 설정하기 */
/* .mask{
    margin: 0;
    padding: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background: #191A19;
    opacity: 0.75;
} */


.navibar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px;
    border-color: #C4DDFF;
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: black;
}

.navbar_logo{
    font-size: 40px;
    color: #C4DDFF;
}

.navbar_menu{
    margin: 0;
    padding: 0;
    /* background-color: blue; */
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 28px;
    display: flex;
    line-height: 0%;
}

.navbar_menu li ul {
    margin: 15px;
    padding: 5px;
    background-color: #C4DDFF;
    display: none;
    position: absolute;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    float: left;
}

.navbar_menu li:hover ul{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.navbar_menu li ul:hover{
    background-color: #C4DDFF;
}

.navbar_menu li{
    padding: 8px 30px;
}

.navbar_submenu{
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.navbar_toggleBtn{
    position: absolute;
    right: 40px;
    font-size: 24px;
    color: #C4DDFF;
    display: none;
} 

.navbar_submenu li{
    padding: 5px 6px;
}

@media screen and (max-width: 770px){
    .navibar{
        flex-direction: column;
        padding: 8px 24px;
    }

    .navbar_menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        margin: 20px;
        width: 100%;
        text-align: center;
    }

    .navbar_submenu{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display: block;
    }

    .navbar_menu.active{
        display: flex;
    }

}

/* main */
.contents {
    width:1000px;
    margin:50px auto;
  }
  main > section {
    margin-top:60px;  
  }
  main h2 {    
    font-size:1.5em;
    line-height: 2.5;
  }
  main div {
    margin-top:20px;
  }
  main h3 {
    font-size:1.2em;
    line-height:2.2;
  }
  .detail p {
    line-height: 2.0;
    color:#222;
  }
  .detail > img {
    float:left; 
    margin-right:50px;
    border-radius:20px;
  }
  .schedule h4 {
    font-size:1.2em;
  }
  .schedule ul {
    list-style: none;
  }
  .schedule ul li { 
    line-height: 2;
  }

/* footer */
footer{   
    width:1200px;   /* 너비 */
    height:100px;  /* 높이 */
    border-top:2px solid #222;
  }
  #bottomMenu{
    width:100%;
    height:20px;
    margin-left:60px;
  }
  #bottomMenu ul {
    margin-top:15px;  
  }
  #bottomMenu ul li{
    float:left;  /* 가로로 배치 */ 
    padding:5px 20px;
    border-right:1px solid #ddd;   /* 항목 오른쪽에 테두리 */ 
  }
  #bottomMenu ul li:last-child{
    border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */  
  }
  #bottomMenu ul li a, #bottomMenu ul li a:visited {  
    font-size:15px;  /* 글자 크기 */ 
    color:#666;   /* 글자 색 */ 
  } 